
/****************************************************************
These are the allowable colors for the style sheet*/


/*WHITE;  #FFFFFF*/
/*FIRST TONE:   #333333*/
/*SECOND TONE:   #666666*/
/*BLACK  000000*/

/*DARKEST DEGREE:  #27004F*/ darkest purp
/*MIDDLE DEGREE:  #380070*/ lighterpurp
/*LIGHTEST DEGREE:  #663399*/ purp

/*FIRST COMPLIMENT:  #DDDDDD*/ grey
/*SECOND COMPLIMENT: #FFFF99*/ yellow

/*SYNOPSIS COLOR:   #CCCCCC*/ grey
/*HIGHLIGHT COLOR:   #DBD6B3*/ light gold
/*ERROR COLOR:   #882222/
/*BACKGROUND COLOR:   #FFFFFF*/
/*BODY COLOR: #FFFFFF*/
/*BORDER COLOR: #000000*/
/*DEFAULT TEXT COLOR #000000*/

/****************************************************/


.anchorColorDarkestDegree A{
  COLOR : white;/*DARKEST DEGREE*/
  TEXT-DECORATION: none;
}
.anchorColorDarkGrey A{
	COLOR: white; /*DARKEST DEGREE*/
	TEXT-DECORATION: none;
}
.anchorColorLightGrey A{
	COLOR: white; /*DARKEST DEGREE*/
	TEXT-DECORATION: none;
}
.anchorColorWhite A{
	COLOR: white; /*DARKEST DEGREE*/
	TEXT-DECORATION: none;
}
.anchorColorDarkestDegree A:VISITED {
  COLOR: white;/*DARKEST DEGREE*/
}

.anchorColorDarkestDegree A:HOVER {
  COLOR: white;/*LIGHTEST DEGREE*/
}

.anchorColorDarkestDegree A:UNKNOWN {
  color : white;/*DARKEST DEGREE*/
}




.anchorColorFirstCompliment A{
	color: white; /*FIRST COMPLIMENT*/
	TEXT-DECORATION: none;
}

.anchorColorFirstCompliment A:VISITED {
	COLOR: red; /*FIRST COMPLIMENT*/
	TEXT-DECORATION: none;
}

.anchorColorFirstCompliment A:HOVER {
	COLOR: red; /*BLACK*/
	TEXT-DECORATION: none;
}

.anchorColorFirstCompliment A:unknown {
	color: red; /*FIRST COMPLIMENT*/
	TEXT-DECORATION: none;
}



.anchorColorWhite A{
  color : #FFFFFF;/*WHITE*/
  TEXT-DECORATION: none;
}

.anchorColorWhite A:VISITED {
  COLOR: #FFFFFF;/*WHITE*/
  TEXT-DECORATION: none;
}

.anchorColorWhite A:HOVER {
	COLOR: red;
	TEXT-DECORATION: none;
}

.anchorColorWhite A:unknown {
    color : #FFFFFF;/*WHITE*/
   TEXT-DECORATION: none;
}


/****************************************************************/
.paddingFullLarge{
  padding: 16px;
}

.paddingFullMedium{
  padding: 8px;
}

.paddingFullSmall{
  padding: 4px;
}

.paddingTopSmallNegative{
  margin-top: -4px;
}

.paddingTopSmall{
  padding-top: 4px;
}

.paddingTopMedium{
  padding-top: 8px;
}

.paddingTopLarge{
  padding-top: 16px;
}

.paddingLeftRightSmall{
  padding-left: 4px;
  padding-right: 4px;
}

.paddingLeftRightMedium{
  padding-left: 8px;
  padding-right: 8px;
}

.paddingLeftRightLarge{
  padding-left: 16px;
  padding-right: 16px;
}

.paddingBottomSmall{
  padding-bottom: 4px;
}

.paddingBottomMedium{
  padding-bottom: 8px;
}

.paddingBottomLarge{
  padding-bottom: 16px;
}
/****************************************************************/
.borderFull{
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.borderThreeQuarters{
  border-left: 1px;

  border-left-style: solid;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-right: 1px;
  border-right-style: solid;
  border-collapse: collapse;
}

.borderLeft{
  border-left: 1px;
  border-left-style: solid;
}

.borderBottom{
  border-bottom: 1px;
  border-bottom-style: solid;
}

.borderRight{
  border-right: 1px;
  border-right-style: solid;
}

.borderTop{
  border-top: 1px;
  border-top-style: solid;
}


/****************************************************/
.textPeripheralTitleMajor{
  font-family : arial;
  font-size : 30px;
  font-style : normal;
  font-weight : bold;
  letter-spacing : -1px;
  line-height : -50px;
}

.textPeripheralTitleMinor{
  font-family : arial;
  font-size : 18px;
  font-style : normal;
  font-weight : bold;
  letter-spacing : 0px;
  line-height : -50px;
}
.textPeripheralTitleMid{
  font-family : arial;
  font-size : 24px;
  font-style : normal;
  font-weight : bold;
  letter-spacing : 0px;
  line-height : -50px;
}

.textMainTitleMajor{
   font-family: "Times New Roman", Times, serif;
  font-size : 50px;
  font-style : normal;
  font-weight : bold;
  letter-spacing : -4px;
  line-height : -50px;
}

.textMainTitleMinor{
  font-family: "Times New Roman", Times, serif;
  font-size : 25px;
  font-style : normal;
  font-weight : bold;
  letter-spacing : -2px;
  line-height : -50px;
}

.textMainLarge{
  font-family: "Times New Roman", Times, serif;
  font-size : 13px;
  font-style : normal;
  font-weight : bold;
  letter-spacing : 1px;
  
}

.textMain{
  font-family: "Times New Roman", Times, serif;
  font-size : 14px;
  font-style : normal;
}

.textHeading1{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
}


.textHeading2{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
}

.textHeading3{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
}

.textCodeSnippet{
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt; 
}

.textHeadingLargeAllCaps {
  font-family: sans-serif;
  FONT-SIZE: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  TEXT-DECORATION: none;
  text-transform: uppercase;
}

.textHeadingSmallAllCaps {
  font-family: sans-serif;
  FONT-SIZE: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  TEXT-DECORATION: none;
  text-transform: uppercase;
}
.textLargeAllCaps {
  font-family: sans-serif;
  FONT-SIZE: 13px;
  font-weight: bold;
  letter-spacing: 0px;
  TEXT-DECORATION: none;
  text-transform: uppercase;
}

.textSmallAllCaps {
  font-family: sans-serif;
  FONT-SIZE: 11px;
  font-weight: bold;
  letter-spacing: 0px;
  TEXT-DECORATION: none;
  text-transform: uppercase;
}
.textHeadingLarge {
  font-family: sans-serif;
  FONT-SIZE: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  TEXT-DECORATION: none;
}

.textHeadingSmall {
  font-family: sans-serif;
  FONT-SIZE: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  TEXT-DECORATION: none;
}

.textPeripheralLarge{
  font-family: Arial, Helvetica, sans-serif;
  font-size : 18px;
} 

.textPeripheralMedium{
  font-family: Arial, Helvetica, sans-serif;
  font-size : 14px;
}

.textPeripheralSmall{
  font-family: Arial, Helvetica, sans-serif;
  font-size : 12px;
} 

.textPeripheralTiny{
  font-family: Arial, Helvetica, sans-serif;
  font-size : 10px;
}

.textMainMedium{
  font-family: "Times New Roman", Times, serif;
  font-size : 12px;
}

.textMainSmall{
  font-family: "Times New Roman", Times, serif;
  font-size : 10px;
}

.textCompactLarge {
  FONT-FAMILY: Arial, Helvetica, Sans-Serif;
  FONT-WEIGHT: normal;
  FONT-SIZE: 14px;
  letter-spacing: -1px;
}

.textCompactMedium {
  FONT-FAMILY: Arial, Helvetica, Sans-Serif;
  FONT-WEIGHT: normal;
  FONT-SIZE: 12px;
  letter-spacing: -1px;
}

.textCompactSmall {
  FONT-FAMILY: Arial, Helvetica, Sans-Serif;
  FONT-WEIGHT: normal;
  FONT-SIZE: 10px;
  letter-spacing: -1px;
}

.textBreadcrumbMajor{
  font-family : sans-serif;
  font-size : 20px;
  font-style : normal;
  font-weight : bold;
  letter-spacing: -1px;
  text-decoration: none;
}


/****************************************************/
.structureHeading1{
  height: 28px;
  vertical-align: middle;
}

.structureHeading2{
  height: 24px;
  vertical-align: middle;
}

.structureHeading3{
  height: 20px;
  vertical-align: middle;
}

.structureShoulderLargeLeftTop{
  vertical-align: top;
  text-align: left;
  width: 20px;
}

.structureShoulderLargeRightTop{
  vertical-align: top;
  text-align: right;
  width: 20px;
}

.structureShoulderLargeLeftBottom{
  vertical-align: bottom;
  text-align: left;
  width: 20px;
}

.structureShoulderLargeRightBottom{
  vertical-align: bottom;
  text-align: right;
  width: 20px;
}

.structureBorderWidth2{
  border-width: 2px;
}

.structureBorderWidth3{
  border-width: 3px;
}

/******************************************************/
.backgroundColorWhite{
  background-color: White;/*WHITE*/
}

.backgroundColorFirstTone{
  background-color: #333333;/*FIRST TONE*/
}

.backgroundColorSecondTone{
  background-color: #666666;/*SECOND TONE*/
}

.backgroundColorBlack{
  background-color: Black;/*BLACK*/
}

.backgroundColorDarkGrey{
  background-color: #595959;/*DARKEST DEGREE*/
}
.backgroundColorAlmostBlack{
	background-color: #1b1b1b; /*DARKEST DEGREE*/
}
.backgroundColorMiddleGrey{
  background-color: #818181;/*MIDDLE DEGREE*/
}

.backgroundColorLightGrey{
  background-color: #DDDDDD;/*LIGHTEST DEGREE*/
}
.backgroundColorRed{
  background-color: red;/*LIGHTEST DEGREE*/
}
.backgroundColorBlue{
	background-color: #000066; /*LIGHTEST DEGREE*/
}
.backgroundColorFirstCompliment{
  background-color: #DDDDDD;/*FIRST COMPLIMENT*/
}

.backgroundColorSecondCompliment{
  background-color: #FFFF99;/*SECOND COMPLIMENT*/
}

.backgroundColorSynopsis{
  background-color: #CCCCCC;/*SYNOPSIS COLOR*/
}

.backgroundColorHighlight{
  background-color: #DBD6B3;/*HIGHLIGHT COLOR*/
}

.backgroundColorError{
  background-color: #882222;/*ERROR COLOR*/
}


/******************************************************/
.colorWhite{
  color: White;/*WHITE*/
}

.colorFirstTone{
color: #333333;/*FIRST TONE*/
}
.colorBlue{
	color: blue; /*FIRST TONE*/
}
.colorYellow{
	color: yellow; /*FIRST TONE*/
}
.colorSecondTone{
  color: #666666;/*SECOND TONE*/
}

.colorBlack{
  color: Black;/*BLACK*/
}

.colorRed{
	color: red;
}
.colorDarkGrey{
	color: #595959; /*MIDDLE DEGREE*/
}
.colorMiddleGrey{
	color: #818181; /*MIDDLE DEGREE*/
}

.colorLightGrey{
  color: #DDDDDD;/*LIGHTEST DEGREE*/
}

.colorFirstCompliment{
  color: #DDDDDD;/*FIRST COMPLIMENT*/
}

.colorSecondCompliment{
  color: #FFFF99;/*SECOND COMPLIMENT*/
}

.colorSynopsis{
  color: #CCCCCC;/*SYNOPSIS COLOR*/
}

.colorHighlight{
  color: #DBD6B3;/*HIGHLIGHT COLOR*/
}

.colorError{
  color: #882222;/*ERROR COLOR*/
}

.colorBackground{
  background-color: #FFFFFF;/*BACKGROUND COLOR*/
}

.colorBody{
  background-color: #FFFFFF;/*BODY COLOR*/
}

.colorText{
  color: #000000;/*DEFAULT TEXT COLOR*/
}

.borderColorWhite{
  border-color: White;/*WHITE*/
}

.borderColorFirstTone{
border-color: #333333;/*FIRST TONE*/
}

.borderColorSecondTone{
border-color: #666666;/*SECOND TONE*/
}

.borderColorBlack{
  border-color: #000000;/*BLACK*/
}
.borderColorRed{
  border-color: red;/*BLACK*/
}
.borderColorDarkGrey{
  border-color: #595959;/*DARKEST DEGREE*/
}

.borderColorMiddleGrey{
  border-color: #818181;/*MIDDLE DEGREE*/
}

.borderColorLightGrey{
  border-color: #DDDDDD;/*LIGTEST DEGREE*/
}

.borderColorFirstCompliment{
  border-color: #DDDDDD;/*FIRST COMPLIMENT*/
}

.borderColorSecondCompliment{
  border-color: #DDDDDD;/*FIRST COMPLIMENT*/
}

.borderColorSynopsis{
  border-color: #CCCCCC;/*SYNOPSIS COLOR*/
}

.borderColorHighlight{
  border-color: #DBD6B3;/*HIGHLIGHT COLOR*/
}

.borderColorError{
  border-color: #990000;/*ERROR COLOR*/
}

.borderColorDefaultBorder{
  border-color :  #000000;/*BORDER COLOR*/
} 

.lineHeightCompact{
  line-height: 95%;
}

.madeInUSA {
  color: red;
  text-align: center;
  font-size: 20px;
  margin: 8px;
}

.madeInUSA img {
  width: 20px;
  height: auto;
}

footer {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 7px;
  width: 800px;
  padding: 5px;
  /*border: solid 2px #DDDDDD;*/
}

footer ul {
  color: #DDDDDD;
  list-style-type: none;
}