* {padding:0; margin:0}
body {font:12px Verdana, Arial, Helvetica}
#wrapper {width:145px; padding:25px; margin:0 auto}
#leftcolumn {width:145px}
#rightcolumn {width:200px}
.dropdown {display:block; position:relative}
.dropdown dt {width:140px; border:1px solid #CCCCCC; padding:8px; font-weight:bold; cursor:pointer; background:url(images/header.gif)}
.dropdown .upperdd {border-bottom:none}
.dropdown dt:hover {background:url(images/header_over.gif)}
.dropdown dd {top:0; overflow:hidden; width:130px; display:none; background:#fff; opacity:0}
.dropdown ul {width:125px; border:1px solid #CCCCCC; list-style:none}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:5px; color:#fff; text-decoration:none; background:#666666; width:120px}
.dropdown a:hover {background:#999999; color:#000}
.dropdown .underline {border-bottom:1px solid #CCCCCC}